<link rel="stylesheet" href="/css/sitemap.css">
<main class="container">
    <div class="sitemap-columns">
        <div class="sitemap-column box-content">
            <h1><a href="#!/" id="h1">Home Page</a></h1>
        </div>
        <div class="sitemap-column box-content">
            <h1><a href="#!/nobel-prizes" id="h1">Nobel Prize</a></h1>
        </div>
        <div class="sitemap-column box-content">
            <h1><a href="#!/about-us" id="h1">About us</a></h1>
        </div>
        <div class="sitemap-column box-content">
            <h1><a href="#!/news" id="h1">News</a></h1>
        </div>
        <div class="sitemap-column box-content">
            <h1><a href="#!/user" id="h1">User</a></h1>
        </div>
        <div class="sitemap-column box-content">
            <h1><a href="#!/contact" id="h1">Contact us</a></h1>
        </div>
    </div>
</main>